<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kareokeapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D22DDFD71D124C27004E2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22DDFF01D124C27004E2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22DDFFB1D124C27004E2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
